/* You can add global styles to this file, and also import other style files */


body,
*,
.mat-h1,
.mat-headline,
.mat-typography .mat-h1,
.mat-typography .mat-headline,
.mat-typography h1 {
    margin: 0;
    font-family: 'Plus Jakarta Sans', sans-serif;
}

.sidenav div {
    display: flex !important;
    flex-direction: column !important;
}

.move-to-end {
    margin-top: auto;
}

.mat-icon-button {
    background: transparent;
}

@media (min-width: 1199px) {
    .cdk-overlay-pane {
        .mat-dialog-container {
            width: 780px !important;
        }
    }
}

.cdk-overlay-pane {
    .mat-dialog-container {
        height: auto;
        margin: 25px 0 !important
    }
}

.cursor-pointer {
    cursor: pointer !important;

}

.mat-error {
    font-size: 12px !important;
}

.color-picker {
    border: 0 !important;
    margin: auto;
}

.mt-20 {
    margin-top: 20px !important;
}

.container-div {
    position: relative;

    .mat-form-field {
        width: 100%;
        margin-bottom: 15px;

    }

    .mat-toolbar-footer {
        display: flex;
        width: 100%;

        &.action-buttons {
            justify-content: right;

            button {
                margin-left: 10px;
            }
        }
    }

    .mat-toolbar-single-row {
        padding: 0;
        background-color: transparent;
    }

}

.pb-125 {
    padding-bottom: 1.25em;
}

.mb-10 {
    margin-bottom: 10px;
}

.mat-toolbar-header {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
}

.mat-toolbar-single-row {
    height: auto;
}

.mt-30 {

    margin-top: 30px;
}

.mb-10 {
    margin-bottom: 10px;
}

.mat-toolbar-header {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
}

.mat-toolbar-single-row {
    height: auto;
}

.mat-form-field-hint-wrapper {
    display: block !important;
    text-align: right;
}

.align-left {
    display: block;
    text-align: left !important;
}

.mt-30 {

    margin-top: 30px;
}

.mb-20 {
    margin-bottom: 20px;
}

.form-div {
    margin-bottom: 20px;
}

.calendar-div {
    .mat-form-field-infix {
        display: inline-flex;
        align-items: center;
        cursor: pointer;
        position: relative;
        box-sizing: border-box;
        // width: 100% !important;

        input {
            // width: 100%;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }

        mat-datepicker-toggle {
            height: 15px;
            flex-shrink: 0;
            display: inline-flex;

            button {
                top: -15px;
            }
        }

    }
}

.custom-date {
    &.duesoon {
        background: #fbe89b;
        // &:hover {
        //     &::after {
        //         content: "hello"
        //     }
        // }
    }

    &.overdue {
        background: #ef6b6e;
    }

    &.upcoming {
        background: #a1daf1
    }

    &.paid {
        background: #b6edac
    }

    border-radius: 100%;

    &::after {
        content: '1';
        position: relative;
        top: 5px;
        right: 0;
    }
}


.link:hover {
    color: #3f51b5;
}

.title-group {
    display: flex;

    h1 {
        color: #000;
    }

    flex-direction: row;

    button {
        margin: 0 0 15px 15px;
    }

    .title,
    .title-buttons {
        width: 50%;
    }

    .title-buttons>button {
        float: right;
    }
}

.no-data {
    display: flex;
    justify-content: center;
    align-content: center;
    height: calc(100% - 51px);
    min-height: 100px;
    align-items: center;
}

.reminder-tile {
    display: flex;
    flex-direction: row;
    border-radius: 5px;
    padding: 10px;
    font-size: 14px;
    margin-bottom: 10px;
    box-sizing: border-box;
    justify-content: space-between;
    // max-width:50%;
    width: 100%;

    div {
        color: inherit;
    }

    .left-wrapper {
        display: flex;
        flex-direction: row;
        width: 100%;
        justify-content: flex-start;
    }

    .right-subsection {
        display: flex;
        flex-direction: column;
        margin-left: 5px;
        font-size: 14px;
    }
}

.overdue {
    border: 1px solid #C76163;
    color: #C76163;
    background: linear-gradient(#F6DADB, #F2BABC);
}

.duesoon {
    border: 1px solid #ad8f5c;
    color: #ad8f5c;
    background: linear-gradient(#f0e6c0, #fcf2c9);
}

.upcoming {
    border: 1px solid #4698b4;
    color: #4698b4;
    background: linear-gradient(#c5e8f7, #bbe4f5);
}

.paid {
    border: 1px solid #449258;
    color: #449258;
    background: linear-gradient(#d9f0d5, #caeac4);
}

.main-section {
    display: flex;
    flex-direction: row;
    column-gap: 15px;
    margin-bottom: 15px;
    width: 100%;
    color: #000;
    justify-content: space-between;

    h2 {
        margin-bottom: 5px;
    }
}

.col-6 {
    width: 50%;
}

.mat-calendar-controls {
    color: #000;
    margin: 0 !important;
}

.mat-calendar-header {
    padding: 0;
}

.title-group {
    margin-bottom: 20px;
    padding: 8px;
    color: #000;
    background: linear-gradient(#cce5ff, #c5d8ef);
    border: 1px solid #c5d8ef;
    border-radius: 5px;

    h1 {
        margin-bottom: 0;
    }

    p {
        font-size: 12px;
        color: #838383;
        margin: 0;
    }

    span:not(.mat-button-wrapper) {
        color: #0098ff;

    }
}

.calendar-wrapper {
    width: 95% !important;
}

.tab {
    display: flex;
    align-items: center;
    color: #000;

    a {
        color: rgb(63, 81, 181);
        font-size: 12px;
        text-decoration: none;

        &.active {
            color: #000;
        }
    }
}

.mat-tab-label-container {
    flex-grow: inherit !important;
}

.no-bills {
    font-size: 1rem;
}

.fs-14 {
    font-size: 14px;
}

.pl-7 {
    padding-left: 7px;
}

.pl-15 {
    padding-left: 15px;
}

.mat-slide-toggle.mat-checked .mat-slide-toggle-thumb {
    background-color: #449258;
}

.mat-slide-toggle.mat-checked .mat-slide-toggle-bar {
    background-color: #b4ebaa;
}

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

table {
    width: 100% !important;
    table-layout: fixed;

    th.mat-header-cell {
        font-weight: 600;
    }

    td,
    th {
        font-size: 13px;
        padding: 8px;

        // vertical-align: top;
        button {
            margin-right: 5px;
        }
    }
}

a {
    text-decoration: underline;
    color: black;

}

.flex-start {
    justify-content: flex-start !important;
}


$theme: #454cad;
$dark-text: #5f6982;

.uploader {
    display: block;
    clear: both;
    margin: 10px auto;
    width: 100%;
    max-width: 600px;

    label {
        cursor: pointer !important;
        // float: left;
        // clear: both;
        display: block;
        height: 100%;
        overflow: hidden;
        width: 89%;
        padding: 1rem 1.5rem;
        text-align: center;
        background: #fff;
        border-radius: 7px;
        border: 3px solid #eee;
        transition: all .2s ease;
        user-select: none;

        &:hover {
            border-color: $theme;
        }

        &.hover {
            border: 3px solid $theme;
            box-shadow: inset 0 0 0 6px #eee;

            #start {
                i.fa {
                    transform: scale(0.8);
                    opacity: 0.3;
                }
            }
        }
    }

    .clear-float {
        clear: both;
    }

    #start {
        float: left;
        clear: both;
        width: 100%;

        &.hidden {
            display: none;
        }

        i.fa {
            font-size: 50px;
            margin-bottom: 1rem;
            transition: all .2s ease-in-out;
        }
    }

    #response {
        float: left;
        clear: both;
        width: 100%;

        &.hidden {
            display: none;
        }

        #messages {
            margin-bottom: .5rem;
        }
    }

    #file-image {
        display: inline-block;
        margin: 0;
        width: 100%;

        &.hidden {
            display: none;
        }
    }

    #notimage {
        display: block;
        float: left;
        clear: both;
        width: 100%;

        &.hidden {
            display: none;
        }
    }

    progress,
    .progress {
        // appearance: none;
        display: inline;
        clear: both;
        margin: 0 auto;
        width: 100%;
        max-width: 180px;
        height: 8px;
        border: 0;
        border-radius: 4px;
        background-color: #eee;
        overflow: hidden;
    }

    .progress[value]::-webkit-progress-bar {
        border-radius: 4px;
        background-color: #eee;
    }

    .progress[value]::-webkit-progress-value {
        background: linear-gradient(to right, darken($theme, 8%) 0%, $theme 50%);
        border-radius: 4px;
    }

    .progress[value]::-moz-progress-bar {
        background: linear-gradient(to right, darken($theme, 8%) 0%, $theme 50%);
        border-radius: 4px;
    }

    input[type="file"] {
        display: none;
    }

    div {
        margin: 0 0 .5rem 0;
        color: $dark-text;
    }

    .btn {
        display: inline-block;
        margin: .5rem .5rem 1rem .5rem;
        clear: both;
        font-family: inherit;
        font-weight: 700;
        font-size: 14px;
        text-decoration: none;
        text-transform: initial;
        border: none;
        border-radius: .2rem;
        outline: none;
        padding: 0 1rem;
        height: 36px;
        line-height: 36px;
        color: #fff;
        transition: all 0.2s ease-in-out;
        box-sizing: border-box;
        background: $theme;
        border-color: $theme;
        cursor: pointer;
    }
}

.h1,
.mat-typography h1 {
    font-size: 24px;
    font-weight: 800;
    line-height: 32px;
    letter-spacing: 0em;
    text-align: left;

}

.title {}

.text {
    font-size: 16px;
    font-weight: 500;
    line-height: 32px;
    letter-spacing: 0em;
    text-align: left;
    color: #8F8F8F;
}

.form-label {
    font-size: 14px;
    font-weight: 500;
    line-height: 18px;
    letter-spacing: 0em;
    text-align: left;
    color: #242731;

}

.mat-card:not([class*=mat-elevation-z]) {
    box-shadow: none;
}

button.mat-primary.mat-raised-button {
    background: #007AFF;
    box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.05);
    border-radius: 8px;
    padding: 8px 16px;
}