/* You can add global styles to this file, and also import other style files */


body,
*,
.mat-h1,
.mat-headline,
.mat-typography .mat-h1,
.mat-typography .mat-headline,
.mat-typography h1 {
    margin: 0;
    font-family: 'Plus Jakarta Sans', sans-serif;
}

.sidenav div {
    display: flex !important;
    flex-direction: column !important;
}

.bg-white {
    background-color: #fff !important;
}

.mx-24 {
    margin: 0 24px;
}

.w-150px {
    width: 150px;
}

.move-to-end {
    margin-top: auto !important;
}

.mat-icon-button {
    background: transparent;
}

@media (min-width: 1199px) {
    .cdk-overlay-pane {
        .mat-dialog-container {
            width: 780px !important;
        }
    }
}

.cdk-overlay-pane {
    .mat-dialog-container {
        height: auto;
        margin: 25px 0 !important
    }
}

.cursor-pointer {
    cursor: pointer !important;

}

.mat-error {
    font-size: 12px !important;
}

.color-picker {
    border: 0 !important;
    margin: auto;
}

.mt-20 {
    margin-top: 20px !important;
}

.mt-10 {
    margin-top: 10px;
}

.my-10 {
    margin: 10px 0;
}

.container-div {
    position: relative;

    .mat-form-field {
        width: 100%;
        margin-bottom: 15px;

    }

    .mat-toolbar-footer {
        display: flex;
        width: 100%;

        &.action-buttons {
            justify-content: left;

            button {
                margin-right: 10px;
            }
        }
    }

    .mat-toolbar-single-row {
        padding: 0;
        background-color: transparent;
    }

}

.pb-125 {
    padding-bottom: 1.25em;
}

.mb-10 {
    margin-bottom: 10px !important;
}

.mb-30 {
    margin-bottom: 30px !important;
}

.mat-toolbar-header {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
}

.mat-toolbar-single-row {
    height: auto;
}

.mt-30 {

    margin-top: 30px;
}

.mt-15 {
    margin-top: 15px;
}

.mb-10 {
    margin-bottom: 10px;
}

.mat-toolbar-header {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
}

.mat-toolbar-single-row {
    height: auto;
}

.mat-form-field-hint-wrapper {
    display: block !important;
    text-align: right;
}

.align-left {
    display: block;
    text-align: left !important;
}

.mt-30 {

    margin-top: 30px;
}

.mb-20 {
    margin-bottom: 20px;
}

.form-div {
    margin-bottom: 20px;
}

.calendar-div {
    .mat-form-field-infix {
        display: inline-flex;
        align-items: center;
        cursor: pointer;
        position: relative;
        box-sizing: border-box;
        // width: 100% !important;

        input {
            // width: 100%;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }

        mat-datepicker-toggle {
            height: 15px;
            flex-shrink: 0;
            display: inline-flex;

            button {
                top: -15px;
            }
        }

    }
}

.custom-date {
    &.duesoon {
        background: #fbe89b;
        // &:hover {
        //     &::after {
        //         content: "hello"
        //     }
        // }
    }

    &.overdue {
        background: #ef6b6e;
    }

    &.upcoming {
        background: #a1daf1
    }

    &.paid {
        background: #b6edac
    }

    border-radius: 100%;

    &::after {
        content: '1';
        position: relative;
        top: 5px;
        right: 0;
    }
}


.link:hover {
    color: #3f51b5;
}

.title-group {
    display: flex;
    flex-direction: row;
    margin-bottom: 27px;

    .title,
    .title-buttons {
        width: 50%;
    }

    .title-buttons>button {
        float: right;
    }
}

.no-data {
    display: flex;
    justify-content: center;
    align-content: center;
    height: calc(100% - 51px);
    min-height: 100px;
    align-items: center;
}

.reminder-tile {
    display: flex;
    flex-direction: row;
    border-radius: 5px;
    padding: 10px;
    font-size: 14px;
    margin-bottom: 10px;
    box-sizing: border-box;
    justify-content: space-between;
    // max-width:50%;
    width: 100%;

    div {
        color: inherit;
    }

    .left-wrapper {
        display: flex;
        flex-direction: row;
        width: 100%;
        justify-content: flex-start;
    }

    .right-subsection {
        display: flex;
        flex-direction: column;
        margin-left: 5px;
        font-size: 14px;
    }
}

.overdue {
    border: 1px solid #C76163;
    color: #C76163;
    background: linear-gradient(#F6DADB, #F2BABC);
}

.duesoon {
    border: 1px solid #ad8f5c;
    color: #ad8f5c;
    background: linear-gradient(#f0e6c0, #fcf2c9);
}

.upcoming {
    border: 1px solid #4698b4;
    color: #4698b4;
    background: linear-gradient(#c5e8f7, #bbe4f5);
}

.paid {
    border: 1px solid #449258;
    color: #449258;
    background: linear-gradient(#d9f0d5, #caeac4);
}

.main-section {
    display: flex;
    flex-direction: row;
    column-gap: 15px;
    margin-bottom: 15px;
    width: 100%;
    color: #000;
    justify-content: space-between;

    h2 {
        margin-bottom: 5px;
    }
}

.col-6 {
    width: 50%;
}

.mat-calendar-controls {
    color: #000;
    margin: 0 !important;
}

.mat-calendar-header {
    padding: 0;
}

.mat-card {
    flex: 1 1 29%;
}

.title-group {
    color: #000;

    h1 {
        margin-bottom: 0;
    }

    span:not(.mat-button-wrapper) {
        color: #0098ff;

    }
}

.calendar-wrapper {
    width: 95% !important;
}

.tab {
    display: flex;
    align-items: center;
    color: #000;

    a {
        color: rgb(63, 81, 181);
        font-size: 12px;
        text-decoration: none;

        &.active {
            color: #000;
        }
    }
}

.mat-tab-label-container {
    flex-grow: inherit !important;
}

.no-bills {
    font-size: 1rem;
}

.fs-14 {
    font-size: 14px;
}

.pl-7 {
    padding-left: 7px;
}

.pl-15 {
    padding-left: 15px;
}

.mat-slide-toggle.mat-checked .mat-slide-toggle-thumb {
    background-color: #fff;
}

.mat-slide-toggle.mat-checked .mat-slide-toggle-bar {
    background-color: #b4ebaa;
}

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

table {
    width: 100% !important;
    table-layout: fixed;

    th.mat-header-cell {
        font-weight: 600;
    }

    td,
    th {
        font-size: 13px;
        padding: 8px;

        // vertical-align: top;
        button {
            margin-right: 5px;
        }
    }
}

a {
    text-decoration: underline;
    color: black;

}

.flex {
    display: flex;
    flex-wrap: wrap;
    ;
}

.flex-row {
    flex-direction: row;
}

.flex-start {
    justify-content: flex-start !important;
}

.space-between {
    justify-content: space-between;
}

$theme: #454cad;
$dark-text: #5f6982;

.uploader {
    display: block;
    clear: both;
    // margin: 10px auto;
    width: 100%;
    // max-width: 600px;

    label {
        cursor: pointer !important;
        // float: left;
        // clear: both;
        display: block;
        height: 100%;
        overflow: hidden;
        width: 89%;
        padding: 1rem 1.5rem;
        text-align: center;
        background: #fff;
        border-radius: 7px;
        border: 3px solid #eee;
        transition: all .2s ease;
        user-select: none;

        &:hover {
            border-color: $theme;
        }

        &.hover {
            border: 3px solid $theme;
            box-shadow: inset 0 0 0 6px #eee;

            #start {
                i.fa {
                    transform: scale(0.8);
                    opacity: 0.3;
                }
            }
        }
    }

    .clear-float {
        clear: both;
    }

    #start {
        float: left;
        clear: both;
        width: 100%;

        &.hidden {
            display: none;
        }

        i.fa {
            font-size: 50px;
            margin-bottom: 1rem;
            transition: all .2s ease-in-out;
        }
    }

    #response {
        float: left;
        clear: both;
        width: 100%;

        &.hidden {
            display: none;
        }

        #messages {
            margin-bottom: .5rem;
        }
    }

    #file-image {
        display: inline-block;
        margin: 0;
        // width: 100%;

        &.hidden {
            display: none;
        }
    }

    #notimage {
        display: block;
        float: left;
        clear: both;
        width: 100%;

        &.hidden {
            display: none;
        }
    }

    progress,
    .progress {
        // appearance: none;
        display: inline;
        clear: both;
        margin: 0 auto;
        width: 100%;
        max-width: 180px;
        height: 8px;
        border: 0;
        border-radius: 4px;
        background-color: #eee;
        overflow: hidden;
    }

    .progress[value]::-webkit-progress-bar {
        border-radius: 4px;
        background-color: #eee;
    }

    .progress[value]::-webkit-progress-value {
        background: linear-gradient(to right, darken($theme, 8%) 0%, $theme 50%);
        border-radius: 4px;
    }

    .progress[value]::-moz-progress-bar {
        background: linear-gradient(to right, darken($theme, 8%) 0%, $theme 50%);
        border-radius: 4px;
    }

    input[type="file"] {
        display: none;
    }

    div {
        margin: 0 0 .5rem 0;
        color: $dark-text;
    }

    .btn {
        display: inline-block;
        margin: .5rem .5rem 1rem .5rem;
        clear: both;
        font-family: inherit;
        font-weight: 700;
        font-size: 14px;
        text-decoration: none;
        text-transform: initial;
        border: none;
        border-radius: .2rem;
        outline: none;
        padding: 0 1rem;
        height: 36px;
        line-height: 36px;
        color: #fff;
        transition: all 0.2s ease-in-out;
        box-sizing: border-box;
        background: $theme;
        border-color: $theme;
        cursor: pointer;
    }
}

.mb-15 {
    margin-bottom: 15px;
}

.h1,
.mat-typography h1 {
    font-size: 24px;
    font-weight: 800;
    line-height: 32px;
    letter-spacing: 0em;
    text-align: left;

}

.h2 {
    font-size: 18px;
    font-weight: 700;
    line-height: 22px;
    color: #3F3F3F;
}

.italic {
    font-style: italic;
}

.line {
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    margin: 0 !important;

}

.text {
    font-size: 16px;
    font-weight: 500;
    line-height: 32px;
    letter-spacing: 0em;
    text-align: left;
    color: #8F8F8F;
}

.form-label,
mat-label {
    font-size: 14px;
    font-weight: 500;
    line-height: 18px;
    letter-spacing: 0em;
    text-align: left;
    color: #242731;
    margin-bottom: 10px;
    display: block;
}

input,
.mat-input-element {
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: left;
    color: #8F8F8F !important;
    padding-left: 20px;
    padding-right: 20px;
    box-sizing: border-box;
    width: 100%;
}



button.mat-raised-button {

    &.mat-primary {
        background: #007AFF;
    }

    box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.05);
    border-radius: 8px;
    padding: 8px 15px;
    font-size: 13px;
    font-weight: 700;
}

.mat-icon {
    font-size: 13px;
    line-height: 15px;
    width: 15px !important;
    height: 15px !important;
}

.mat-form-field-flex {
    border: 1px solid #8F8F8F !important;
    border-radius: 8px;
    height: 56px;
}

.mat-form-field-infix {
    border: 0 !important;
}

.mat-form-field-appearance-legacy .mat-form-field-underline {
    background-color: transparent;
}

.w-100 {
    width: 100%;
}

.mat-form-field.mat-form-field-invalid .mat-form-field-ripple,
.mat-form-field.mat-form-field-invalid .mat-form-field-ripple.mat-accent,
.mat-form-field-ripple {
    background-color: transparent !important;
}

.mat-form-field.mat-form-field-invalid .mat-form-field-flex {
    border-color: #f44336;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0 30px white inset !important;
    width: 100%;
    box-sizing: border-box;
}

.mat-card.example-card {
    padding: 16px 24px;

    .mat-card-header {
        width: 100%;
    }

    .mat-card-header-text {
        margin: 0;
        width: 100%;

        .mat-card-title {
            font-size: 18px;
            font-weight: 700;
            display: flex;
            color: #3F3F3F;
        }

        .mat-card-title {
            margin-bottom: 10px;

            span {
                color: #00CD83;
                font-size: 10px;
                font-weight: 500;

            }
        }

    }

    .mat-card-actions {
        padding: 0;
        display: flex !important;
        justify-content: space-between;
        align-items: center;
    }
}

.gap {
    gap: 10px;
}

.active-chip,
.deactivated-chip,
.disabled-chip {
    height: 24px;
    border-radius: 41px;
    padding: 8px 13px 8px 13px;
    background-color: #E2F0FF;
    color: #007AFF;
    border: 0;
    font-size: 12px;
    font-weight: 600;
    line-height: 10px;
}

.deactivated-chip {
    color: #FF5C00;
    background-color: #FFEFE6;
}

.disabled-chip {
    color: #A0A5B0;
    background-color: #F6F6F6;
}

.ml-auto {
    margin-left: auto;
}


footer {
    height: 40px;
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    font-weight: 500;
    line-height: 40px;
    letter-spacing: 0em;
    text-align: center;
    color: #A0A5B0;
    background: #F3F3F3;
    position: fixed;
    bottom: 0;
    width: 100%;
    left: 0;
}

.badge {
    height: 28px;
    padding: 8px 13px 8px 13px;
    font-family: 'Plus Jakarta Sans';
    font-size: 12px;
    font-weight: 700;
    line-height: 14px;
    letter-spacing: 0em;
    text-align: left;
    color: #A0A5B0;
    background: #F7F7F7;
    border-radius: 41px;
    margin-right: 8px;
    font-style: normal;

    &.badge-danger {
        color: #FF5C00;
        background-color: #FFEFE6;
    }

    &.badge-success {
        color: #00CD83;
        background-color: #E3FFF5;
    }
}


.card {
    border: 0;

    .card-title {
        font-family: 'Plus Jakarta Sans';
        font-size: 18px;
        font-weight: 700;
        line-height: 22px;
        letter-spacing: 0em;
        text-align: left;

    }

    .card-text {
        font-family: 'Plus Jakarta Sans';
        font-size: 14px;
        font-weight: 500;
        line-height: 24px;
        letter-spacing: 0em;
        text-align: left;
        color: #6D6D6D;
    }



    .view-course {
        font-family: 'Plus Jakarta Sans';
        font-style: normal;
        font-weight: 800;
        font-size: 14px;
        line-height: 24px;
        text-decoration-line: underline;
        color: #007AFF;
        margin-left: auto;
    }
}

.published {
    font-size: 14px;
    font-weight: 700;
    line-height: 22px;
    border-left: 1px solid #E7E7E7;
    padding-left: 30px;
    height: 40px;
    align-self: center;
    color: #3F3F3F;

    display: flex;
    align-items: center;
}

mat-slide-toggle {
    margin: 0 30px 0 10px;
}

.mat-slide-toggle {
    .mat-slide-toggle-bar {
        width: 36px;
        height: 24px;
        border-radius: 20px;
    }

    .mat-slide-toggle-thumb {
        position: relative;
        top: 4px;
    }

    &.mat-checked {
        .mat-slide-toggle-bar {
            background-color: #00CD83;
        }
    }
}



// Breadcrumb
nav {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    margin: 0;
    flex-wrap: wrap;

    .back-button,
    .download {
        font-size: 12px;
        color: #3F3F3F;
        background: #FFFFFF;
        border: 1px solid #EEEEEE;
        border-radius: 68px;
        min-width: 68px;
        text-align: center;
        line-height: 28px;
        text-decoration: none;
        height: 32px;
        margin-right: 20px;
    }

    .download {
        min-width: 40px;
        max-width: 40px;
    }

    .breadcrumb {
        margin: 0;

        li {
            font-size: 12px;
            line-height: 15px;

            &.active {
                color: #3F3F3F;
            }

            a {
                text-decoration: none !important;
                color: #8F8F8F !important;
            }

        }
    }
}

.mat-tab-nav-bar {
    border: 0;
    background: #F8F8F8;

    .mat-ink-bar {
        display: none;
    }

    .mat-tab-links {
        .mat-tab-link {
            font-size: 14px;
            font-weight: 700;
            color: #8F8F8F;
            padding: 8px 16px;
            width: fit-content;
            min-width: fit-content;
            margin-right: 8px;

            &.mat-tab-label-active {
                background: #FFFFFF;
                box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.05);
                border-radius: 8px;
                color: #1D1D1D;
            }
        }
    }
}



@media (max-width:767px) {
    .card {
        img {
            width: 100%;
        }

        .published {
            padding-left: 12px;
            border-left: 0;
            margin-top: 15px;
        }
    }

}


.mat-progress-spinner circle,
.mat-spinner circle {
    stroke: #007AFF !important;
}

span.title.dialog-title {
    font-size: 18px;
    font-weight: 700;
    line-height: 40px;

}


.mat-form-field-flex {
    line-height: 40px;
    border: 1px solid #8F8F8F !important;
    border-radius: 8px;
    height: 56px;
    padding: 0 20px;
    color: #8F8F8F;
    font-size: 16px;
}

.text-center {
    text-align: center;
}

.flex-center {
    display: flex;
    align-items: center;
}


::-webkit-scrollbar {
    width: 6px;
    overflow: auto;
    background-color: #F5F5F5;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 10px;
}