<mat-card class="login-form">
    <h1 class="h1">Hi, Admin</h1>
    <p class="text">Login to your account</p>
    <mat-card-content class="mt-30">
        <form [formGroup]="loginForm" (ngSubmit)="login()" class="w-100">
            <div class="mb-15">
                <mat-label>Email</mat-label>
                <mat-form-field>
                    <input type="text" matInput formControlName="email" [errorStateMatcher]="matcher">
                    <mat-error *ngIf="loginForm.controls['email'].hasError('required')">Required</mat-error>
                    <mat-error *ngIf="loginForm.controls['email'].hasError('pattern')">Invalid email</mat-error>
                </mat-form-field>
            </div>
            <div class="mb-15">
                <mat-label>Password</mat-label>
                <mat-form-field>
                    <input type="password" matInput formControlName="password">
                    <mat-error *ngIf="loginForm.controls['password'].hasError('required')">Required</mat-error>
                </mat-form-field>
            </div>
            <div class="button">
                <button mat-raised-button color="primary" [disabled]="loginForm.invalid " class="w-100">Login</button>
            </div>

        </form>
    </mat-card-content>
</mat-card>
<!-- <div class="auth-page">
    <div class="auth-page__content-block">
        <div class="auth-page__content-wrapper">
            <form class="form" [formGroup]="loginForm" (ngSubmit)="login()">
                <mat-form-field class="form__input">
                    <input matInput placeholder="Email Address" type="email" formControlName="email">
                </mat-form-field>

                <mat-form-field class="form__input">
                    <input matInput placeholder="Password" type="password" formControlName="password">
                </mat-form-field>

                <div class="form-actions">
                    <button class="form-actions__login" mat-raised-button color="primary" type="submit">Login</button>
                    <button class="form-actions__forget" mat-button>Forget password</button>
                </div>
            </form>

        </div>
    </div>
</div> -->