<mat-card>
    <mat-card-title>Admin Login</mat-card-title>
    <hr/>
    <mat-card-content class="mt-30">
        <form [formGroup]="loginForm" (ngSubmit)="login()">
            <p>
                <mat-form-field>
                    <input type="text" matInput placeholder="Email" formControlName="email"  [errorStateMatcher]="matcher">
                    <mat-error *ngIf="loginForm.controls['email'].hasError('required')">Required</mat-error>
                    <mat-error *ngIf="loginForm.controls['email'].hasError('pattern')">Invalid email</mat-error>
                </mat-form-field>
            </p>
            <p>
                <mat-form-field>
                    <input type="password" matInput placeholder="Password" formControlName="password">
                    <mat-error *ngIf="loginForm.controls['password'].hasError('required')">Required</mat-error>
                </mat-form-field>
            </p>

            <div class="button">
                <button mat-raised-button  color="primary" [disabled]="loginForm.invalid ">Login</button>
            </div>

        </form>
    </mat-card-content>
</mat-card>
<!-- <div class="auth-page">
    <div class="auth-page__content-block">
        <div class="auth-page__content-wrapper">
            <form class="form" [formGroup]="loginForm" (ngSubmit)="login()">
                <mat-form-field class="form__input">
                    <input matInput placeholder="Email Address" type="email" formControlName="email">
                </mat-form-field>

                <mat-form-field class="form__input">
                    <input matInput placeholder="Password" type="password" formControlName="password">
                </mat-form-field>

                <div class="form-actions">
                    <button class="form-actions__login" mat-raised-button color="primary" type="submit">Login</button>
                    <button class="form-actions__forget" mat-button>Forget password</button>
                </div>
            </form>

        </div>
    </div>
</div> -->