:host {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.mat-form-field {
  width: 100%;
  min-width: 300px;
}

mat-card-title,
mat-card-content {
  display: flex;
}

.error {
  padding: 16px;
  width: 300px;
  color: white;
  background-color: red;
}

.button {
  display: flex;
  justify-content: flex-end;
}

.mat-card {
  padding: 20px;
  box-shadow: none;
}

.mat-card-title {
  margin-bottom: 20px;
}

.login-form {
  max-width: 445px;
  width: 100%;
  margin: auto;
}

input,
.mat-input-element {
  font-size: 16px;
  line-height: 46px;
  font-weight: 400;
  letter-spacing: 0em;
  text-align: left;
  color: #8F8F8F;
}