<div fxLayout="column" class="container-div">

    <mat-toolbar class="mat-accent-bg m-0" fxLayoutAlign="end flex-end">
        <div fxFlex="100" fxLayout="row" fxLayoutAlign="space-between flex-end" class="mat-toolbar-header">
            <span class="title dialog-title">Enroll User</span>
            <span class="mat-button-wrapper cursor-pointer" (click)="matDialog.close()">
                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <circle cx="12" cy="12" r="10" stroke="#8F8F8F" stroke-width="1.5" />
                    <path d="M14.5 9.49999L9.5 14.5M9.49998 9.49997L14.5 14.4999" stroke="#8F8F8F" stroke-width="1.5"
                        stroke-linecap="round" />
                </svg>

            </span>
        </div>
    </mat-toolbar>
    <!-- <mat-divider class="mt-10"></mat-divider> -->
    <div class="content p-20 mt-20" fxLayout="column">
        <form [formGroup]="enrollForm" fx-layout="column">
            <div fxLayout="column" fxLayout.gt-xs="row"> <mat-label>User </mat-label>
                <mat-form-field>

                    <input type="text" matInput formControlName="user" [matAutocomplete]="auto">
                    <mat-autocomplete #auto="matAutocomplete" (optionSelected)='changed($event.option)'>
                        <!-- [displayWith]="displayFn"> -->
                        <mat-option *ngFor="let option of filteredUsers" [value]="option.email">
                            {{ option.email+(option.fullName? (" ("+option.fullName +")"):'')}}
                        </mat-option>
                        <mat-option *ngIf="!filteredUsers.length" disabled>
                            {{!enrollForm.controls['user'].value? 'Type to search for users':'No match found'}}
                        </mat-option>
                    </mat-autocomplete>
                    <mat-error
                        *ngIf=" selectedOption != enrollForm.controls['user'].value || enrollForm.controls['user'].hasError('required')">Required
                    </mat-error>
                </mat-form-field>


            </div>
        </form>
    </div>
    <mat-toolbar class="mat-accent-bg m-0 mt-12" fxLayoutAlign="center">
        <div fxlayout="row" fxLayoutAlign="flex-end" class="mt-12" fxFlex="100"
            class="mat-toolbar-footer action-buttons">
            <button type="submit" mat-raised-button color="primary"
                [disabled]="enrollForm.invalid || selectedOption != enrollForm.controls['user'].value || apiCallActive"
                (click)="enrollUser()">Enroll</button>
            <!-- <button type="button" mat-raised-button class="mr-20" (click)="matDialog.close()">Cancel</button> -->
        </div>
    </mat-toolbar>
</div>