<div fxLayout="column" class="container-div">

    <mat-toolbar class="mat-accent-bg m-0" fxLayoutAlign="end flex-end">
        <div fxFlex="100" fxLayout="row" fxLayoutAlign="space-between flex-end" class="mat-toolbar-header">
            <span class="title dialog-title">Enroll User</span>
            <button class="mat-icon-button mat-button" aria-label="Close dialog" mat-button (click)="matDialog.close()">
                <span class="mat-button-wrapper">
                    <mat-icon class="mat-icon material-icons" role="img" aria-hidden="true">close</mat-icon>
                </span>
            </button>
        </div>
    </mat-toolbar>
    <mat-divider class="mt-10"></mat-divider>
    <div class="content p-20 mt-20" fxLayout="column">
        <form [formGroup]="enrollForm" fx-layout="column">
            <div fxLayout="column" fxLayout.gt-xs="row">
                <mat-form-field>
                    <mat-label>User </mat-label>
                    <input type="text" matInput formControlName="user" [matAutocomplete]="auto">
                    <mat-autocomplete #auto="matAutocomplete" (optionSelected)='changed($event.option)'>
                        <!-- [displayWith]="displayFn"> -->
                        <mat-option *ngFor="let option of filteredUsers" [value]="option.email">
                            {{ option.email+ (option.firstName?'('+option.firstName+' '+option.lastName +')':'')}}
                        </mat-option>
                        <mat-option *ngIf="!filteredUsers.length" disabled>
                            {{!enrollForm.controls['user'].value? 'Type to search for users':'No match found'}}
                        </mat-option>
                    </mat-autocomplete>
                    <mat-error *ngIf=" selectedOption != enrollForm.controls['user'].value || enrollForm.controls['user'].hasError('required')">Required
                    </mat-error>
                </mat-form-field>


            </div>
        </form>
    </div>
    <mat-toolbar class="mat-accent-bg m-0 mt-12" fxLayoutAlign="center">
        <div fxlayout="row" fxLayoutAlign="flex-end" class="mt-12" fxFlex="100"
            class="mat-toolbar-footer action-buttons">
            <button type="submit" mat-raised-button color="primary" [disabled]="enrollForm.invalid || selectedOption != enrollForm.controls['user'].value || apiCallActive"
                (click)="enrollUser()">Enroll</button>
            <button type="button" mat-raised-button class="mr-20" (click)="matDialog.close()">Cancel</button>
        </div>
    </mat-toolbar>
</div>