<div class="slide-list-wrapper">
    <div class="no-data"  *ngIf="!slides?.length">No slides found</div>
    <div class="reorder-wrapper" *ngIf="slides?.length">
        <div cdkDropList class="slide-list mt-20" (cdkDropListDropped)="drop($event)">
            <div class="slide-box" *ngFor="let slide of slides, index as i" cdkDrag>
                <div class="w-10 drag-icon" *ngIf="reorderMode">
                    <i class="material-icons" cdkDragHandle>drag_indicator</i>
                </div>

                <div class="drag-index">{{i+1}}</div>
                <div class="w-100 drag-content">
                    {{slide.name | titlecase}}
                    <!-- <mat-checkbox (change)="slide.isDisable = !slide.isDisable">Click and drop only through
                    icon</mat-checkbox> -->
                </div>
                <div class="w-10 delete-icon">
                    <button mat-icon-button *ngIf="!reorderMode">
                        <i class="material-icons" (click)="delete(i)">delete_outline</i>
                    </button>
                    <button mat-icon-button *ngIf="!reorderMode">
                        <i class="material-icons" (click)="openAddSlideForm(false,slide)">edit</i>
                    </button>
                </div>
            </div>
        </div>
        <div>
            <button mat-raised-button color="primary" class="m-4" *ngIf="slides?.length>=2"
                (click)="!reorderMode?reorderSlides():saveOrder()">
                {{!reorderMode?"Reorder":"Save"}} <i
                    class="material-icons">{{!reorderMode?"swap_vert":"add_circle_outline"}}</i>
                <!-- <span *ngIf="reorderMode"> Save <i class="material-icons"></i></span> -->
            </button>
            <button mat-raised-button color="primary" class="m-4" *ngIf="reorderMode" (click)="cancelReorder()">
                Cancel<i class="material-icons">cancel</i>
            </button>
        </div>
    </div>
    <button mat-raised-button color="primary" class="m-4" (click)="openAddSlideForm(false)">
        Add New <i class="material-icons">add_circle_outline</i>
    </button>
</div>