<div class="title-group">
    <div class="title">
        <h1 class="mat-h1" *ngIf="courseDetails?.name">
            <a class="link" routerLink="/dashboard/course/list/{{courseDetails?.type}}">Course List</a> >
            <i>{{courseDetails?.name|titlecase}}</i>
        </h1>
    </div>
    <div class="title-buttons ">
        <!-- <button mat-raised-button color="primary" (click)="openCourseForm(false)">
            Create
        </button> -->
        <!-- <button mat-raised-button color="accent" (click)="copyText()">
            Copy FAQ snippet
        </button> -->
    </div>
</div>
<mat-divider fxFlex="1 0"></mat-divider>
<p class="no-data" *ngIf="!apiCallActive && !courseDetails?._id">
    Course details not found!
</p>
<div class="container" *ngIf="!apiCallActive && courseDetails?._id">
    <mat-card>
        <mat-card-header>
            <mat-card-title>{{ courseDetails.name | titlecase}}</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <!-- <div class="image-container">
                <img [src]="courseDetails.imageUrl" alt="{{ courseDetails.name | titlecase }}">
            </div> -->
            <div class="details-container">
                <p>{{ courseDetails.description }}</p>
                <p>Published: {{ courseDetails.isPublished?'Yes':'No' }}</p>
                <!-- <button mat-raised-button color="primary">Add to Cart</button> -->
            </div>


            <nav mat-tab-nav-bar>
                <a mat-tab-link (click)="activeSlide=1" [active]="activeSlide==1"> Slides
                </a>
                <a mat-tab-link (click)="activeSlide=2" [active]="activeSlide==2"> Comments
                </a>
                <a mat-tab-link (click)="activeSlide=3" [active]="activeSlide==3"> Enrollments
                </a>
                <a *ngIf="courseDetails?.type == 'paid'" mat-tab-link (click)="activeSlide=4" [active]="activeSlide==4">
                    Enrollment Requests
                </a>
            </nav>
            <div [hidden]="activeSlide != 1">
                <slide-list></slide-list>
            </div>
            <div [hidden]="activeSlide != 2">
                <!-- <form [formGroup]="faqForm" fx-layout="column"> -->
                <!-- formArrayName="faqs" -->
                <div class="no-data flex-start" *ngIf="!rootComments?.length">No comments found</div>
                <mat-card *ngFor="let comment of rootComments; let i= index">
                    <comment [comment]="comment"></comment>
                </mat-card>
                <!-- </form> -->
            </div>
            <div [hidden]="activeSlide != 3">
                <manage-enrollment [courseDetails]="courseDetails"></manage-enrollment>
            </div>
            <div [hidden]="activeSlide !=4"  *ngIf="courseDetails?.type == 'paid'">
                <manage-enrollment-requests [courseDetails]="courseDetails"></manage-enrollment-requests>
            </div>
        </mat-card-content>
    </mat-card>
</div>