<div class="title-group">
    <div class="title">
        <h1 class="mat-h1" *ngIf="courseDetails?.name">
            <a class="link" routerLink="/dashboard/course/list/{{courseDetails?.type}}">Course List</a> >
            <i>{{courseDetails?.name|titlecase}}</i>
        </h1>
    </div>
    <div class="title-buttons ">
        <!-- <button mat-raised-button color="primary" (click)="openCourseForm(false)">
            Create
        </button> -->
        <!-- <button mat-raised-button color="accent" (click)="copyText()">
            Copy FAQ snippet
        </button> -->
    </div>
</div>
<mat-divider fxFlex="1 0"></mat-divider>
<p class="no-data" *ngIf="!apiCallActive && !courseDetails?._id">
    Course details not found!
</p>
<div class="container" *ngIf="!apiCallActive && courseDetails?._id">
    <mat-card>
        <mat-card-header>
            <mat-card-title>{{ courseDetails.name | titlecase}}</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <!-- <div class="image-container">
                <img [src]="courseDetails.imageUrl" alt="{{ courseDetails.name | titlecase }}">
            </div> -->
            <div class="details-container">
                <p>{{ courseDetails.description }}</p>
                <p>Published: {{ courseDetails.isPublished?'Yes':'No' }}</p>
                <!-- <button mat-raised-button color="primary">Add to Cart</button> -->
            </div>


            <nav mat-tab-nav-bar>
                <a mat-tab-link (click)="activeSlide=1" [active]="activeSlide==1"> Slides
                </a>
                <a mat-tab-link (click)="activeSlide=2" [active]="activeSlide==2"> Comments
                </a>
            </nav>
            <div [hidden]="activeSlide == 2">
                <slide-list></slide-list>
            </div>
            <div [hidden]="activeSlide == 1">

                <mat-card *ngFor="let comment of rootComments; let i= index">

                    <div class="comment">
                        <div class="user-banner">
                            <div class="avatar" style="background-color:#fff5e9;border-color:#ffe0bd; color:#F98600">
                                AF
                            </div>
                            <div class="user">
                                <h5>{{comment.author.firstName | titlecase}} </h5>
                                <span class="is-mute">- {{comment.createdAt}}</span>
                                <a class="reply"> <i class="material-icons">reply</i> Reply</a>

                                <button mat-icon-button>
                                    <i class="material-icons">delete_outline</i>
                                </button>
                                <div class="content">

                                    <div> {{comment.text}}</div>
                                    <div class="reply-body comment" *ngFor="let reply of comment.children">
                                        <div class="user-banner">
                                            <div class="avatar"
                                                style="background-color:#fff5e9;border-color:#ffe0bd; color:#F98600">
                                                BC
                                            </div>
                                            <div class="user">
                                                <h5>{{reply.author.firstName|titlecase}}</h5>
                                                <span class="is-mute">- {{reply.createdAt}}</span>
                                                <div class="content">
                                                    {{reply.text}}
                                                </div>
                                            </div>
                                            <button mat-icon-button>
                                                <i class="material-icons">delete_outline</i>
                                            </button>
                                            <!-- <button class="btn dropdown"><i class="ri-more-line"></i></button> -->
                                        </div>


                                    </div>
                                </div>
                                <div class="footer">
                                    <form fx-layout="column">
                                        <div fxLayout="column" fxLayout.gt-xs="row">
                                            <mat-form-field fxFlex="100">
                                                <mat-label>Reply
                                                </mat-label>
                                                <textarea matInput rows="4"></textarea>
                                            </mat-form-field>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </mat-card>
            </div>
        </mat-card-content>
    </mat-card>
</div>