<div class="flex-row">
    <div class="title" *ngIf=" dataSource?.filteredData?.length > 0">
        <h1 class="mat-h1">
            <!-- <a class="link" routerLink="/dashboard/course">FAQ Category List</a> > <i>{{selectedCourseCategoryDoc?.name|titlecase}}</i> > -->
            Enrollment Requests
        </h1>
    </div>
</div>
<mat-divider fxFlex="1 0" *ngIf=" dataSource?.filteredData?.length > 0"></mat-divider>


<p class="no-data flex-start" *ngIf="!apiCallActive && dataSource?.filteredData?.length <= 0">
    There is no enrollment requests yet!
</p>

<div class="container" *ngIf="!apiCallActive && dataSource?.filteredData?.length > 0">
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
        <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef>#</th>
            <td mat-cell *matCellDef="let element; let i = index"> {{i+1}} </td>
        </ng-container>
        <ng-container matColumnDef="user">
            <th mat-header-cell *matHeaderCellDef> User Name </th>
            <td mat-cell *matCellDef="let element"> {{element?.enrollmentRequestedBy?.fullName | titlecase }} </td>
        </ng-container>
        <ng-container matColumnDef="email">
            <th mat-header-cell *matHeaderCellDef> Email </th>
            <td mat-cell *matCellDef="let element"> {{element?.enrollmentRequestedBy?.email }} </td>
        </ng-container>
        <ng-container matColumnDef="enrollmentRequestedOn">
            <th mat-header-cell *matHeaderCellDef> Requested On </th>
            <td mat-cell *matCellDef="let element"> {{element.enrollmentRequestedOn | date:"dd/MM/yyyy"}} </td>
        </ng-container>

        <ng-container matColumnDef="action">
            <th mat-header-cell *matHeaderCellDef> Actions </th>
            <td mat-cell *matCellDef="let element; let i = index" class="action-buttons">
                <button *ngIf="element.requestStatus === 'pending'" mat-icon-button color="primary" aria-label="view"
                    (click)="manageRequest(i,element,'Accept')">
                    Accept <mat-icon>check circle</mat-icon>
                </button>
                <button *ngIf="element.requestStatus === 'pending'" mat-icon-button color="warn" aria-label="delete"
                    (click)="manageRequest(i,element,'Decline')">
                    Decline <mat-icon>close circle</mat-icon>
                </button>
                <span *ngIf="element.requestStatus !== 'pending'">{{element.requestStatus|titlecase}}</span>
            </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
</div>