<div fxLayout="column" class="container-div create-slide-dialog">
    <mat-toolbar class="mat-accent-bg m-0" fxLayoutAlign="end flex-end">
        <div fxFlex="100" fxLayout="row" fxLayoutAlign="space-between flex-end" class="mat-toolbar-header">
            <span class="title dialog-title">{{slideId?'Edit':'Create'}} Slide</span>
            <span class="mat-button-wrapper cursor-pointer" (click)="matDialog.close()">
                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <circle cx="12" cy="12" r="10" stroke="#8F8F8F" stroke-width="1.5" />
                    <path d="M14.5 9.49999L9.5 14.5M9.49998 9.49997L14.5 14.4999" stroke="#8F8F8F" stroke-width="1.5"
                        stroke-linecap="round" />
                </svg>

            </span>
        </div>
    </mat-toolbar>
    <div class="content p-20 mt-20" fxLayout="column">
        <form [formGroup]="slideForm" fx-layout="column">
            <div fxLayout="column" fxLayout.gt-xs="row" [class.form-div]="!isViewOnly" [class.mt-30]="isViewOnly">
                <div fxLayout="column" fxLayout.gt-xs="row">
                    <mat-label>Slide Name
                    </mat-label>
                    <mat-form-field
                        [class.mb-10]="slideForm.controls['name'].touched && slideForm.controls['name'].hasError('required')"
                        fxFlex="100">

                        <input type="text" matInput formControlName="name" trim autocomplete="off"
                            [errorStateMatcher]="matcher" maxlength="50" [readonly]="isViewOnly">
                        <mat-error *ngIf="slideForm.controls['name'].hasError('required')">Required
                        </mat-error>
                        <mat-error
                            *ngIf="!slideForm.controls['name'].hasError('required') && !slideForm.controls['name'].hasError('pattern') && slideForm.controls['name'].hasError('not_unique')">
                            Slide name already exists.
                        </mat-error>
                        <mat-error
                            *ngIf="!slideForm.controls['name'].hasError('required') && slideForm.controls['name'].hasError('pattern')">
                            Slide name can only contain alpha-numeric, as well as the special characters '&'
                            and '-'..
                        </mat-error>
                        <mat-hint align="end" *ngIf="!isViewOnly">{{nameMaxLength -
                            slideForm.controls['name'].value.length}}
                            {{nameMaxLength -
                            slideForm.controls['name'].value.length>1?'characters':'character'}}
                            left.</mat-hint>
                    </mat-form-field>
                </div>
                <div fxLayout="column" fxLayout.gt-xs="row">
                    <mat-label>Type</mat-label>
                    <nav class="nav nav-pills nav-fill">
                        <a class="nav-link " *ngFor="let type of types" [class.active]="selectedType == type"
                            (click)=" slideForm.controls['type'].setValue(type);selectedType = type"> {{type |
                            titlecase}}</a>

                    </nav>

                </div>


                <div fxLayout="column" fxLayout.gt-xs="row" class="uploadImage"
                    *ngIf="(selectedType == 'video' || selectedType == 'audio'|| selectedType == 'pdf') && !isViewOnly">

                    <div id="file-upload-form" class="uploader">
                        <input id="file-upload" type="file" name="fileUpload"
                            accept="{{selectedFileSettings.mimeTypes}}" (change)="uploadFiles($event)" />
                        <label for="file-upload" id="file-drag" class="c-label"
                            [class.h-50]="!uploadingInProgess &&  (attachment || slideForm.controls[selectedFileSettings.key].value)">
                            <div
                                *ngIf="!uploadingInProgess && (!attachment && !slideForm.controls[selectedFileSettings.key].value)">
                                <i class="fa fa-download" aria-hidden="true"></i>
                                <span class="c-btn ">Select {{selectedFileSettings.name}} file</span>

                                <div class="info">
                                    <!-- Please select {{selectedFileSettings.name}} file.<br> -->
                                    <span *ngIf="selectedType != 'pdf'"> The allowed extensions are
                                        {{selectedFileSettings.extensions}}.<br> </span>
                                    Max size: {{selectedFileSettings.maxSize}}MB
                                </div>
                            </div>
                            <div
                                *ngIf="!uploadingInProgess &&  (attachment || slideForm.controls[selectedFileSettings.key].value)">
                                <span class="c-btn ">Select another</span>
                            </div>
                            <div id="response" *ngIf="uploadingInProgess">
                                <div id="messages">Uploading... {{uploadingProgress ?
                                    (uploadingProgress- 1)+'%' : '0%' }}</div>
                                <progress class="progress" [value]="uploadingProgress" max="100">
                                </progress>
                            </div>
                        </label>
                    </div>
                    <div *ngIf="!attachment && !slideForm.controls[selectedFileSettings.key].value">
                        <mat-error *ngIf="slideForm.controls[selectedFileSettings.key]?.hasError('required')">Required
                        </mat-error>
                        <mat-error *ngIf="!slideForm.controls[selectedFileSettings.key]?.hasError('required') 
                        && slideForm.controls[selectedFileSettings.key]?.hasError('file_type')">
                            Choose a certain type of file.
                        </mat-error>
                        <mat-error *ngIf="!slideForm.controls[selectedFileSettings.key]?.hasError('required')
                        && !slideForm.controls[selectedFileSettings.key]?.hasError('file_type') 
                        && slideForm.controls[selectedFileSettings.key]?.hasError('file_size')">
                            File size should not be greater than {{selectedFileSettings.maxSize}}MB.
                        </mat-error>
                    </div>
                </div>

                <video
                    *ngIf="(!uploadingInProgess &&  (attachment || slideForm.controls[selectedFileSettings.key].value) && selectedType == 'video') || (isViewOnly && selectedSlideDetails.type == 'video')"
                    controls
                    src="{{slideForm.controls['file'].value? environment.baseUrl + slideForm.controls['file'].value:''}}"
                    width="100%">
                    Sorry, your browser doesn't support embedded videos.
                </video>

                <div *ngIf="(!uploadingInProgess &&  (attachment || slideForm.controls[selectedFileSettings.key].value) && selectedType == 'audio') || (isViewOnly && selectedSlideDetails.type == 'audio')"
                    style="text-align: center;width: 100%;">
                    <audio controls>
                        <source
                            src="{{slideForm.controls['file'].value? environment.baseUrl + slideForm.controls['file'].value:''}}">
                        Sorry, your browser does not support the audio element.
                    </audio>
                </div>
                <div *ngIf="(!uploadingInProgess &&  (attachment || slideForm.controls[selectedFileSettings.key].value) && selectedType == 'pdf') || (isViewOnly && selectedSlideDetails.type == 'pdf')"
                    style="text-align: center;width: 100%;">
                    <p><span *ngIf="attachment.originalName" class="material-icons">picture_as_pdf</span>
                        {{attachment.originalName||'No file found'}}</p>
                </div>
                <!-- {{slideForm.value|json}}
                <div fxLayout="column" fxLayout.gt-xs="row" class=" h-150"
                    *ngIf="selectedType == 'text'|| (isViewOnly && selectedSlideDetails.type == 'text')">
                    <mat-form-field class="mb-10" fxFlex="100">
                        <textarea matInput formControlName="text" trim autocomplete="off" [errorStateMatcher]="matcher"
                            [rows]="isViewOnly?8:5" [readonly]="isViewOnly"></textarea>
                        <mat-error *ngIf="slideForm.controls['text'].hasError('required')">Required
                        </mat-error>
                    </mat-form-field>
                </div> -->
                <div class="tiny-editor"
                    *ngIf="selectedType == 'text'|| (isViewOnly && selectedSlideDetails.type == 'text')">
                    <editor [apiKey]="apiKey" cloudChannel="6" formControlName="text" [disabled]="false" id=""
                        [init]="setting" initialValue="" [inline]="false" tagName="div"></editor>
                </div>
            </div>
        </form>
    </div>


    <mat-toolbar class="mat-accent-bg m-0 mt-12" fxLayoutAlign="center" *ngIf="!isViewOnly">
        <div fxlayout="row" fxLayoutAlign="flex-end" class="mt-12" fxFlex="100"
            class="mat-toolbar-footer action-buttons">
            <button type="submit" mat-raised-button color="primary" [disabled]="slideForm.invalid ||  (!slideForm.controls['text'].value 
                && slideForm.controls['type'].value == 'text')||
                (!attachment && !slideForm.controls[selectedFileSettings.key].value
                 && slideForm.controls['type'].value != 'text')|| apiCallActive" (click)="saveSlide()">Save</button>
            <!-- <button type="button" mat-raised-button class="mr-20" (click)="matDialog.close()">Cancel</button> -->
        </div>
    </mat-toolbar>
</div>