.flex-col {
    flex-direction: column;
}

.alert-close {
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 24px;
    text-decoration-line: underline;
    cursor: pointer;
    color: #007AFF;
}