<div class="title-group">
  <div class="title">
    <h1 class="mat-h1">
      User Progress
    </h1>
  </div>
</div>

<div class="flex space-between mb-15">
  <nav mat-tab-nav-bar class="mb-15">
    <a mat-tab-link *ngFor="let link of navLinks" (click)="updateUrl(link)"
      [active]="currentUrl.indexOf(link.link)>-1">{{link.label}}
    </a>
  </nav>
  <div class="title-buttons ">
    <button mat-raised-button color="primary" (click)="openAddCouponForm(false)">
      <mat-icon>add</mat-icon> Add New
    </button>
  </div>
</div>
<mat-divider fxFlex="1 0"></mat-divider>

<p class="no-data  flex-start" *ngIf="!apiCallActive && dataSource?.filteredData?.length <= 0">
  There is no course created yet!
</p>

<div *ngIf="!apiCallActive && dataSource?.filteredData?.length > 0">
  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef>#</th>
      <td mat-cell *matCellDef="let element; let i = index"> {{i+1}} </td>
    </ng-container>
    <ng-container matColumnDef="coursename">
      <th mat-header-cell *matHeaderCellDef> Course Name </th>
      <td mat-cell *matCellDef="let element"> {{element?.course?.name | titlecase }} </td>
    </ng-container>
    <ng-container matColumnDef="username">
      <th mat-header-cell *matHeaderCellDef> User's Name </th>
      <td mat-cell *matCellDef="let element"> {{element?.user?.fullName|| '-' }} </td>
    </ng-container>
    <ng-container matColumnDef="email">
      <th mat-header-cell *matHeaderCellDef> User's Email </th>
      <td mat-cell *matCellDef="let element"> {{element?.user?.email }} </td>
    </ng-container>
    <ng-container matColumnDef="enrolledOn">
      <th mat-header-cell *matHeaderCellDef> Enrolled On </th>
      <td mat-cell *matCellDef="let element"> {{element?.enrollment?.enrolledOn | date:'dd MMM yyyy hh:mm a'}}
      </td>
    </ng-container>

    <ng-container matColumnDef="progress">
      <th mat-header-cell *matHeaderCellDef> Progress </th>
      <td mat-cell *matCellDef="let element">
        <span *ngIf="element.progress && element.progress < 100">{{element.progress}}%
          Slides
          Completed</span>
        <span *ngIf="!element.progress">Not started yet</span>
        <span *ngIf="element.progress && element.progress >=100">All Slides Completed</span>
      </td>
    </ng-container>
    <ng-container matColumnDef="lastActivity">
      <th mat-header-cell *matHeaderCellDef> Last Activity </th>
      <td mat-cell *matCellDef="let element"> {{(element?.latestProgress?.updatedAt | date:'dd MMM yyyy hh:mm a')||'-'
        }}
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>