<div class="title-group">
    <div class="title">
        <h1 class="h1">
            <!-- <a class="link" routerLink="/dashboard/user">FAQ Category List</a> > <i>{{selectedUserCategoryDoc?.name|titlecase}}</i> > -->
            User List
            <p class="line italic">{{users.length}} users</p>
        </h1>
    </div>
    <div class="title-buttons ">
        <button mat-raised-button color="primary" (click)="openUserInviteForm(false)">
            <mat-icon>add</mat-icon> Invite User
        </button>
    </div>
</div>
<mat-divider fxFlex="1 0" class=""></mat-divider>
<p class="no-data" *ngIf="!apiCallActive && users?.length <= 0">
    There is no User created yet!
</p>
<div class="flex flex-row gap mt-10">
    <mat-card class="example-card " *ngFor="let user of users; let i=index">
        <mat-card-header>
            <mat-card-title>{{(user?.firstName?(user?.firstName+'
                '+user?.lastName):user?.fullName)| titlecase}}</mat-card-title>
            <mat-card-subtitle>{{user.email}} </mat-card-subtitle>
        </mat-card-header>
        <mat-card-actions>
            <button class="active-chip" *ngIf="user.isActive && user.isSignedUp">Active</button>
            <button class="deactivated-chip"
                *ngIf="!user.isActive && user.isSignedUp  && user.isVerified">Deactivated</button>
            <button class="deactivated-chip" *ngIf="!user.isActive && user.isSignedUp && !user.isVerified">Pending
                Verification</button>
            <button class="disabled-chip" *ngIf="user.isActive && !user.isSignedUp">Invitation sent</button>


            <a class="cursor-pointer" [matMenuTriggerFor]="menu">
                <svg width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <rect x="39.5" y="0.5" width="39" height="39" rx="19.5" transform="rotate(90 39.5 0.5)" fill="white"
                        stroke="#F3F3F3" />
                    <path fill-rule="evenodd" clip-rule="evenodd"
                        d="M20 10C21.1046 10 22 10.8954 22 12C22 13.1046 21.1046 14 20 14C18.8954 14 18 13.1046 18 12C18 10.8954 18.8954 10 20 10ZM20 18C21.1046 18 22 18.8954 22 20C22 21.1046 21.1046 22 20 22C18.8954 22 18 21.1046 18 20C18 18.8954 18.8954 18 20 18ZM22 28C22 26.8954 21.1046 26 20 26C18.8954 26 18 26.8954 18 28C18 29.1046 18.8954 30 20 30C21.1046 30 22 29.1046 22 28Z"
                        fill="#BFBFBF" />
                </svg>
            </a>
            <mat-menu #menu="matMenu">
                <button mat-menu-item (click)="openUserInviteForm(true,user)">{{user.isActive && !user.isSignedUp?
                    'Reinvite':'View'}}</button>
                <button mat-menu-item (click)="openConfirmDialog(i,user,{isActive:!user.isActive})"
                    *ngIf="user.isSignedUp && user.isVerified">{{(user.isActive?'Deactivate':'Activate')+'
                    user'}}</button>
                <button mat-menu-item (click)="openConfirmDialog(i,user,{isVerified:!user.isVerified})"
                    *ngIf="user.isSignedUp&& !user.isVerified">Verify user</button>
                <button mat-menu-item (click)="openConfirmDialog(i,user,{isDeleted:!user.isDeleted})">Delete
                    user</button>
            </mat-menu>
        </mat-card-actions>
    </mat-card>
</div>
<!-- <div class="">


    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
        <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef>#</th>
            <td mat-cell *matCellDef="let element; let i = index"> {{i+1}} </td>
        </ng-container>
        <ng-container matColumnDef="fullName">
            <th mat-header-cell *matHeaderCellDef> Name </th>
            <td mat-cell *matCellDef="let element"> {{(element?.firstName?(element?.firstName+'
                '+element?.lastName):element?.fullName)| titlecase}} </td>
        </ng-container>
        <ng-container matColumnDef="email">
            <th mat-header-cell *matHeaderCellDef> Email </th>
            <td mat-cell *matCellDef="let element"> {{element.email}} </td>
        </ng-container>
        <ng-container matColumnDef="isSignedUp">
            <th mat-header-cell *matHeaderCellDef> Has signed up? </th>
            <td mat-cell *matCellDef="let element"> {{element.isSignedUp?'Yes':'No'}} </td>
        </ng-container>
        <ng-container matColumnDef="action">
            <th mat-header-cell *matHeaderCellDef> Actions </th>
            <td mat-cell *matCellDef="let element; let i = index">
                <button mat-icon-button color="primary" (click)="openUserInviteForm(true,element)" aria-label="view">
                    <mat-icon>visibility</mat-icon>
                </button>
                <button mat-icon-button color="warn" (click)="openConfirmDialog(i,element)" aria-label="delete">
                    <mat-icon *ngIf="element.isSignedUp && element.isActive ">lock</mat-icon>
                    <mat-icon *ngIf="element.isSignedUp && !element.isActive ">lock_open</mat-icon>
                </button>
            </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
</div> -->