<div class="title-group">
    <div class="title">
        <h1 class="mat-h1">
            <!-- <a class="link" routerLink="/dashboard/user">FAQ Category List</a> > <i>{{selectedUserCategoryDoc?.name|titlecase}}</i> > -->
            User List
        </h1>
    </div>
    <div class="title-buttons ">
        <button mat-raised-button color="primary" (click)="openUserInviteForm(false)">
            Invite user
        </button>
    </div>
</div>
<mat-divider fxFlex="1 0"></mat-divider>
<p class="no-data" *ngIf="!apiCallActive && dataSource?.filteredData?.length <= 0">
    There is no User created yet!
</p>
<div class="container" *ngIf="!apiCallActive && dataSource?.filteredData?.length > 0">
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
        <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef>#</th>
            <td mat-cell *matCellDef="let element; let i = index"> {{i+1}} </td>
        </ng-container>
        <ng-container matColumnDef="firstName">
            <th mat-header-cell *matHeaderCellDef> Name </th>
            <td mat-cell *matCellDef="let element"> {{(element?.firstName || '-')+" "+(element?.lastName||'')}} </td>
        </ng-container>
        <ng-container matColumnDef="email">
            <th mat-header-cell *matHeaderCellDef> Email </th>
            <td mat-cell *matCellDef="let element"> {{element.email}} </td>
        </ng-container>
        <ng-container matColumnDef="isSignedUp">
            <th mat-header-cell *matHeaderCellDef> Has signed up? </th>
            <td mat-cell *matCellDef="let element"> {{element.isSignedUp?'Yes':'No'}} </td>
        </ng-container>
        <ng-container matColumnDef="action">
            <th mat-header-cell *matHeaderCellDef> Actions </th>
            <td mat-cell *matCellDef="let element; let i = index">
                <!-- <button mat-icon-button color="primary" (click)="openUserInviteForm(false,element)" aria-label="view">
                    <mat-icon>edit</mat-icon>
                </button> -->
                <button mat-icon-button color="primary" (click)="openUserInviteForm(true,element)" aria-label="view">
                    <mat-icon>visibility</mat-icon>
                </button>
                <button mat-icon-button color="warn" (click)="openConfirmDialog(i,element)" aria-label="delete">
                    <mat-icon *ngIf="element.isSignedUp && element.isActive ">lock</mat-icon>
                    <mat-icon *ngIf="element.isSignedUp && !element.isActive ">lock_open</mat-icon>
                </button>
            </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
</div>