<mat-toolbar>
    Admin Dashboard
</mat-toolbar>

<mat-sidenav-container>
    <mat-sidenav class="mat-elevation-z8 sidenav">
        <button mat-button class="menu-button active" routerLink="/dashboard/user/list" routerLinkActive="active"
            [ngClass]="{'active': currentUrl?.indexOf('user')>-1}">
            <mat-icon>question_answer</mat-icon>
            <span>Users</span>
        </button>
        <button mat-button class="menu-button " routerLink="/dashboard/course/list/public" routerLinkActive="active"
            [ngClass]="{'active': currentUrl.indexOf('dashboard/course')>-1}">
            <mat-icon>event</mat-icon>
            <span>Courses </span>
        </button>
        <button mat-button class="menu-button " routerLink="/dashboard/progress/course/public" routerLinkActive="active"
        [ngClass]="{'active': currentUrl.indexOf('progress')>-1}">
        <mat-icon>signal_cellular_alt</mat-icon>
        <span>Progress </span>
    </button>
        <!-- <button mat-button class="menu-button" routerLink="/dashboard/reminders"  routerLinkActive="active"
            [ngClass]="{'active': currentUrl.indexOf('reminder')>-1}">
            <mat-icon>event</mat-icon>
            <span>Reminders</span>
        </button> -->
        <div class="move-to-end of side nav">
            <mat-divider></mat-divider>
            <button mat-button class="menu-button" (click)="logout()">
                <mat-icon>logout</mat-icon>
                <span>Logout</span>
            </button>

        </div>

    </mat-sidenav>
    <mat-sidenav-content>
        <div class="content mat-elevation-z8">
            <router-outlet></router-outlet>
        </div>
    </mat-sidenav-content>
</mat-sidenav-container>