mat-toolbar {
    background: #002b5c;
    color: white;
}

mat-sidenav {
    width: 250px;
    border-right: none;
    background: #fff;
    color: #8F8F8F;
    box-sizing: border-box;
    padding: 16px 24px;
    text-align: center;
    font-size: 13px;
    box-shadow: none;
}

.menu-button {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-size: 1rem;

    mat-icon {
        margin-right: 8px;
    }

    &.active {
        border: 1px solid white;
    }
}


.content {
    height: calc(100vh - 40px);
    padding: 16px 32px;
    overflow-y: auto;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    color: lightgray;
    background: #F9F9F9;
    box-shadow: none;
}


mat-sidenav-container {
    height: calc(100vh - 65px);

    mat-sidenav {
        svg {
            margin-right: 10px;

            path {
                stroke: #8F8F8F;
            }
        }

        .mat-icon {
            font-size: 16px;
        }

        button {
            &.active {
                color: #1D1D1D;
                background-color: #F3F5F8;

                svg {
                    path {
                        stroke: #1D1D1D;
                    }
                }
            }


        }
    }
}