<div class="comment">
    <div class="user-banner">
        <div class="avatar">
            {{(comment.author.fullName)|initials}}
        </div>

        <div class="user">
            <h5 class="name">{{comment.author.fullName | titlecase}} Jakob Hammon </h5>
            <span class="is-mute ml-auto">- {{comment.createdAt}}</span>

            <!-- <button mat-icon-button (click)=" delete(comment)" class="ml-auto">
                <i class="material-icons">delete_outline</i>
            </button> -->
            <div class="content">
                <div class="flex flex-row ">
                    <p>{{comment.text}}</p>
                    <button type="submit" mat-raised-button color="primary" class="reply ml-auto">Reply</button>
                </div>
                <div class="reply-body comment" *ngFor="let reply of comment.children">
                    <div class="user-banner">
                        <div class="avatar">
                            {{(reply.author.fullName)|initials}}
                        </div>
                        <div class="user">
                            <h5 class="name">{{reply.author.fullName|titlecase}}</h5>
                            <span class="is-mute ml-auto">- {{reply.createdAt}}</span>
                            <div class="content">
                                <div class="flex flex-row ">
                                    <p>{{comment.text}}</p>
                                    <!-- <button type="submit" mat-raised-button color="primary"
                                        class="reply ml-auto">Reply</button> -->
                                </div>
                            </div>
                            <!-- </div>
                            <button mat-icon-button (click)="delete(reply)">
                                <i class="material-icons">delete_outline</i>
                            </button> -->
                            <!-- <button class="btn dropdown"><i class="ri-more-line"></i></button> -->
                        </div>


                    </div>
                </div>
                <div class="footer">
                    <textarea [rows]="5" [cols]="10" placeholder="Add a comment" trim></textarea>
                    <!-- formControlName="comment" trim
                                    autocomplete="off" [errorStateMatcher]="matcher" 
                                    [readonly]="isViewOnly" -->
                    <!-- </mat-form-field> -->
                    <div>
                        <button type="submit" mat-raised-button color="primary">Reply</button>
                        <button type="submit" mat-raised-button color="default">Cancel</button>
                    </div>
                </div>
            </div>



        </div>
    </div>

    <div class="footer">
        <!-- <div fxLayout="column" fxLayout.gt-xs="row" [formGroupName]="i"> -->
        <!-- <mat-form-field fxFlex="100"> -->

        <textarea [rows]="5" [cols]="10" placeholder="Add a comment" trim></textarea>
        <!-- formControlName="comment" trim
                        autocomplete="off" [errorStateMatcher]="matcher" 
                        [readonly]="isViewOnly" -->
        <!-- </mat-form-field> -->
        <div>
            <button type="submit" mat-raised-button color="primary">Reply</button>
            <button type="submit" mat-raised-button color="default">Cancel</button>
        </div>
        <!-- [disabled]="slideForm.invalid || apiCallActive"
                    (click)="addComment()" -->
        <!-- </div> -->
        <!-- <a class="reply"> <i class="material-icons">reply</i> Reply</a> -->

    </div>